*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 768px) {
  html {
      overflow-x: auto;
  }

  body {
      width: 1200px;
      transform: scale(0.85);
      transform-origin: top left;
  }
}

@media (max-width: 480px) {
  body {
      width: 1200px;
      transform: scale(0.7);
      transform-origin: top left;
  }
}
